---
version: 2

jobs:
  build:
    docker:
      - image: insready/bazel
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-{{ checksum "WORKSPACE" }}-{{ checksum "BUILD" }}
            - v1-{{ checksum "WORKSPACE" }}-
            - v1-
          name: Restoring cache
      - run:
          command: bazel build //...
          name: Compile
      - save_cache:
          key: v1-{{ checksum "WORKSPACE" }}-{{ checksum "BUILD" }}
          name: Making cache
          paths:
            - ~/.cache/bazel
      - run:
          command: bazel test //...
          name: Test

workflows:
  version: 2
  base:
    jobs:
      - build
